# Lambda and Map

# Lambda Basic Syntax 

lambda arguments : expression

In [1]:
add = lambda x, y: x + y

In [2]:
add3 = lambda x, y: (x + y, x - y)

In [3]:
# same as 
def add2(x, y):
    return x + y

In [4]:
add(2, 4)

6

In [5]:
add3(2, 4)

(6, -2)

# Map Basic Syntax

map(function_object, iterable1, iterable2,...)

In [19]:
def multiply_by_2(x):
  return x * 2
    
r = map(multiply_by_2, [1, 2, 3, 4])

In [61]:
import datetime
def validate(date_text):
    try:
        return {'re_date':datetime.datetime.strptime(date_text, '%Y-%m-%d'), 'success':True }
    except ValueError:
        return {'re_date':'', 'success':False }
        
def multiply_by_2(x):
    if type(x) is dict:
        return { key : (val + key) for key,val in x.items() }
    elif type(x) is str:
        if validate(x)['success']:
            return [validate(x)['re_date'].day,validate(x)['re_date'].month,validate(x)['re_date'].year, (datetime.datetime.now() - validate(x)['re_date']).days/360]
        else:
            return {x : x.zfill(10)}
    else:
        return x * x
    
r = map(multiply_by_2, [{1:0,2:0,3:0},{1:1,2:2,3:3},7,'1984-08-18','hahah'])

list(r)

[{1: 1, 2: 2, 3: 3},
 {1: 2, 2: 4, 3: 6},
 49,
 [18, 8, 1984, 35.43055555555556],
 {'hahah': '00000hahah'}]

In [62]:
list(r)

[]

In [63]:
r = map(lambda x : x*2, [1, 2, 3, 4])

In [10]:
r

In [11]:
r_list = list(r)
r_list

[2, 4, 6, 8]

In [12]:
x = 10; print(x)

10

In [13]:
for e in r_list:
    print(type(e))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [14]:
r = map(lambda x : x*2, [1, 2, 3.4, 4])
r_list = list(r)
for e in r_list:
    print(type(e))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>

In [15]:
d1 = {1: 0, 2: 0, 3: 0}

In [16]:
d2 = {i: (lambda i: i*i)(i) for i in range(5)}
d2

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [17]:
[(lambda i: i*i)(i) for i in range(5)]

[0, 1, 4, 9, 16]

In [18]:
d3 = {i: i*i for i in range(5)}
d3

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}